* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-image: url('nBG.png');
    background-size: 100%;
    align-items: center;
    color: #333;
}
.sidebar {
    width: 250px;
    background-color: #4E1D26;
    color: #ecf0f1;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    transition: all 0.3s ease;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.sidebar img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    color: #ecf0f1;
}

.sidebar a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0;
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar a i {
    margin-right: 15px;
    font-size: 20px;
    color: #fff;
}

.sidebar a:last-child {
    border-bottom: none;
}

.sidebar a:hover {
    background-color: #6A2C38;
    color: #db343c; 
}

.sidebar.hidden {
    width: 0;
    padding: 0;
    overflow: hidden;
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 260px;
    z-index: 200;
    background-color: #4E1D26;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    transition: left 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.sidebar.hidden + .toggle-btn {
    left: 20px;
    background-color: #4E1D26;
}
.content {
    flex: 1;
    padding: 20px;
    width: 900px;
    background-color: #fff; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.content h1 {
    text-align: center;
}
.content img {
    width: 500px;
}
.map-contact {
    display: flex;
    gap: 20px;
    align-items: center;
}
.map {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.contact-info {
    background: #fff;
    padding: 15px;

}
.contact-info a {
    color: #4b0d1f;
    text-decoration: none;
    font-weight: bold;
}
.google {
    max-width: 600px;
    height: 400px;
    margin-top: 30px;
    margin-left: 100px;
}